<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ayush Tewari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ayush Tewari is a Postdoc at MIT">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td class="bio">
            <h1 class="name ">Ayush Tewari</h1>
            <div class="email ">ayusht@mit.edu</div>
            <p>I am a postdoctoral researcher at MIT with <a href="http://billf.mit.edu">Bill Freeman</a> and <a href="http://web.mit.edu/cocosci/josh.html">Josh Tenenbaum</a>. 
            Previously, I completed my Ph.D. at the Max Planck Institute for Informatics with <a href="https://www.mpi-inf.mpg.de/~theobalt/">Christian Theobalt</a>.              
             I received an <a href="https://www.mpg.de/prizes/otto-hahn-medal">Otto Hahn Medal</a> from the Max Planck Society for my PhD. 
             Check out my <a href="https://www.youtube.com/watch?v=wyuMeSlTTfI">talk</a> at MIT for an overview of some recent works. <br/><br/>
             {{ metadata | safe }}  <a href="#publications" >[Publications]</a>  <a href="#talks" >[Talks]</a>              </p>
          </td>
          <td class="photo">
            <img src="assets/photo.png" width="100%"> <br/>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 id="publications">Publications</h2>
    <ul class="publications">
      {% for pub in publications %}
        <li class="pub">
            <table>
              <tbody>
                <tr>
                  <td class="pub-photo">
                    <img src={{ pub.teaser }} width="100%">
                  </td>
                  <td>
                    <span class="pub-title">{{ pub.title }}</span><br/>
                    {{ pub.conference }}<br/>
                    <span>{{ pub.authors | safe }}<br/>
                    {{ pub.data | safe }}<br/>
                  </td>
                </tr>
              </tbody>
            </table>
        </li>
      {% endfor %}
    </ul>
    <h2 id="talks">Talks</h2>
    <ul class="talks">
      {% for talk in talks %}
        <li class="talk">
            <span class="talk-title">{{ talk.title }}</span>, {{ talk.venue }}<br/>
            {{ talk.data | safe }}<br/>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>