<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ayush Tewari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ayush Tewari is a Postdoc at MIT">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td class="bio">
            <h1 class="name ">Ayush Tewari</h1>
            <div class="email ">ayusht@mit.edu</div>
            <p>I am a Postdoc at MIT with <a href="http://billf.mit.edu">Bill Freeman</a> and <a href="http://web.mit.edu/cocosci/josh.html">Josh Tenenbaum</a>. Previously, I completed my Ph.D. at the Max Planck Institute for Informatics with <a href="https://www.mpi-inf.mpg.de/~theobalt/">Christian Theobalt</a>. 
             My research interests are at the intersection of computer vision, computer graphics, and machine learning, with a focus on self-supervised 3D reconstruction and rendering. 
             Check out a recent <a href="https://www.youtube.com/watch?v=wyuMeSlTTfI">talk</a> at MIT for an overview of recent works. <br/><br/>
             {{ metadata | safe }}                </p>
          </td>
          <td class="photo">
            <img src="assets/photo.jpeg" width="100%">
          </td>
        </tr>
      </tbody>
    </table>
    <h2>Publications</h2>
    <ul class="publications">
      {% for pub in publications %}
        <li class="pub">
            <table>
              <tbody>
                <tr>
                  <td class="pub-photo">
                    <img src={{ pub.teaser }} width="100%">
                  </td>
                  <td>
                    <span class="pub-title">{{ pub.title }}</span><br/>
                    {{ pub.conference }}<br/>
                    <span>{{ pub.authors | safe }}<br/>
                    {{ pub.data | safe }}<br/>
                  </td>
                </tr>
              </tbody>
            </table>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
