{% extends "base.njk" %}

{% block title %}
    Ayush Tewari
{% endblock %}

{% block content %}
    <h1>Ayush Tewari</h1>
    <p class="subtitle">at2164@cam.ac.uk</p>
    <section>
        <figure class="marginnote" style="width: 17%; margin-top: 20px;"">
            <img src="assets/photo.jpg" alt="A photo of Ayush Tewari"/>
        </figure>
        <p>I am an Assistant Professor at the University of Cambridge. My research interests lie in visual perception. I develop methods that infer rich structured representations of the visual world from images and videos, much like the mental models humans infer to interact with and navigate their surroundings.<br/>        
          
          I was previously a postdoctoral researcher at MIT CSAIL with <a href="http://billf.mit.edu">Bill Freeman</a>, <a href="http://web.mit.edu/cocosci/josh.html">Josh Tenenbaum</a>, and <a href="https://www.vincentsitzmann.com/">Vincent Sitzmann</a>. I completed my Ph.D. at the <a href="https://mpi-inf.mpg.de/departments/visual-computing-and-artificial-intelligence/">Max Planck Institute for Informatics</a> with <a href="https://www.mpi-inf.mpg.de/~theobalt/">Christian Theobalt</a>. 
        </p>

        <p>
            <!--a href="info/" class="phd-link">Information for prospective PhD students</a> <br/><br/-->
            <a href="#group">[Group]</a>
            <a href="#publications">[Publications]</a>
            <!--a href="#talks">[Talks]</a-->
            {{ metadata | safe }}
        </p>
    </section>

    <section id="group">
        <h2>PhD Students</h2>
        <div class="group-container">
            {% for member in group %}
            <div class="student-entry"> 
                <figure style="margin: 0;">
                    <img class="student-photo" src="{{ member.photo }}" alt="Photo of {{ member.name }}"/>
                </figure>
                <div class="pub-details">
                    <p style="margin: 0; font-size: 1.2rem;">
                        <b style="font-size: 1.4rem;">
                            {%- if member.url -%}
                            <a href="{{ member.url }}">{{ member.name }}</a>
                            {%- else -%}
                            {{ member.name }}
                            {%- endif -%}
                        </b><br/>
                        <i>{{ member.role }}</i>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="publications">
        <h2>Publications</h2>
        {% for pub in publications %}
        <div class="publication-entry">
            {% if pub.teaser %}
            <figure class="marginnote">
                {%- if 'mp4' in pub.teaser %}
                <video autoplay loop muted playsinline style="width: 100%;">
                    <source src="{{ pub.teaser }}" type="video/mp4" />
                </video>
                {%- else -%}
                <img src="{{ pub.teaser }}" alt="Teaser for {{ pub.title }}"/>
                {%- endif -%}
            </figure>
            {% endif %}
            <div class="pub-details">
                <p style="margin-top: 0;">
                    <span class="pub-title" style="font-size: 1.5rem; font-weight: bold;">{{ pub.title }}</span><br/>
                    <i>{{ pub.conference | safe }}</i><br/>
                    {{ pub.authors | safe }}<br/>
                    {{ pub.data | safe }}
                </p>
            </div>
        </div>
        {% endfor %}
    </section>
    <p style="text-align: right; font-size: 1.0rem;">
        Theme inspired and adapted from <a href="https://github.com/edwardtufte/tufte-css">tufte.css</a> and <a href="https://s-m.ac/">Mathias Sablé-Meyer</a>.
    </p>
    <!--section id="talks">
        <h2>Talks</h2>
        {% for talk in talks %}
        <p>
            <b>{{ talk.title }}</b>, <i>{{ talk.venue | safe}}</i>
            <span>{{ talk.data | safe }}</span>
        </p>
        {% endfor %}
    </section-->
{% endblock %}