$blue: #0051c9;
@mixin bold {
    font-weight: 550;
}
@mixin semibold {
    font-weight: 500;
}

body {
    margin: 40px auto;
    max-width: 900px;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
//    font-family: 'Droid Sans', helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: $blue;
}

a:visited {
    color: $blue;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

table {
    width: 100%;
    max-width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
}

.name {
    margin-bottom: 0.1rem;
}

.center {
    text-align: center;
}

table,
tr,
td {
    padding: 0;
}

.bio {
    padding-right: 2.5%;
    width: 63%;
    vertical-align: top;
}

.photo {
    padding-left: 2.5%;
    width: 250px;
    max-width: 250px;
    height: 250px;
    max-height: 250px;
}

.pub-photo {
    padding-left: 0.5%;
    padding-right: 2.5%;
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
}

.self-author {
    @include bold;
}

.pub-title {
    font-size: 1.17em;
    @include bold;
    //color: $blue;
}

.pub p {
    line-height: 1;
}

ul {
    padding-left: 0;
}

.publications li {
    list-style-type: "";
    padding-bottom: 30px;
}